@model Toy

<div class="store__card">
    <div class="store__card-img">
        <img class="store__card-pic" src="@Model.img" alt="@Model.name" />
    </div>
    <div class="store__card-category">@Model.Category.categoryName</div>
    <h3 class="store__card-name">@Model.name</h3>
    <p class="store__card-price">@Model.price.ToString("c")</p>
    <p><a class="store__cart" asp-controller="ToyShopCart" asp-action="addToCart" asp-route-id="@Model.id">Добавить в корзину</a></p>
</div>
